<div class="flex items-center justify-center mt-10">
    <div class="flex flex-col shadow-xl md:w-2/3 xs:w-auto">
        <div class="banner">
            <h4 class="text-white text-center font-bold text-3xl">
                Links List
            </h4>
        </div>

        <div class="flex flex-col py-6 px-8 space-y-5 bg-white">

            <table class="table-auto shadow-lg bg-white w-full">
                <thead>
                    <tr>
                        <th scope="col" class="table-head">Id</th>
                        <th scope="col" class="table-head">Name</th>
                        <th scope="col" class="table-head">Code</th>
                        <th scope="col" class="table-head">Full Link</th>
                        <th scope="col" class="table-head">Click Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let link of links; let i = index" 
                        class="table-row bg-red-600"
                    >
                        <th class="column" scope="row">{{link.id}}</th>
                        <td class="column">{{link.name}}</td>
                        <td class="column">{{link.code}}</td>
                        <td class="column"><a target="_blank" href="{{link.fullLink}}">{{link.fullLink}}</a></td>
                        <td class="column">{{link.clickCount}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>